@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    color: white;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 80px 104px;
}

header h1 {
    font-size: 20px;
    font-weight: 700;
}

nav {
    display: flex;
    gap: 57px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 55px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.main-img {
    position: absolute;
    right: 0px;
    top: 0px;
}

.main-img2 {
    position: absolute;
    left: 0px;
    top: 329px;
}

main section {
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
}

.description {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: start;
    padding: 38px 104px;
}

main h1 {
    font-family: "Playfair Display", serif;
    font-size: 18rem;
    font-weight: 700;
    z-index: 1;
    text-align: center;
    height: 35vh;
}

main h2 {
    font-family: "Playfair Display", serif;
    font-size: 17rem;
    font-weight: 700;
    z-index: 2;
    text-align: center;
}

.description p {
    font-size: 24px;
    font-weight: 500;
    width: 60%;
}

main button {
    position: absolute;
    right: 34%;
    bottom: -40%;
    border: none;
    font-size: 2.3rem;
    padding: 13px 19px;
    cursor: pointer;
    font-weight: 600;
}

.portfolio-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.portfolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 35%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 71px;
}

.portfolio h1 {
    font-family: "Playfair Display", serif;
    font-size: 81.31px;
    font-weight: 400;
}

.port-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4%;
    justify-content: center;
}

.port-wrap article {
    display: grid;
    row-gap: 50px;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 382px;
    gap: 70px;
}

.about-container h1 {
    font-family: "Playfair Display", serif;
    font-size: 81.31px;
    font-weight: 400;
}

.about-container article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5%;
}

.about-container article p {
    font-size: 2.5rem;
    width: 633px;
}

.testimonials-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 342px;
    gap: 103px;
}

.testimonials-container h1 {
    font-family: "Playfair Display", serif;
    font-size: 81.31px;
    font-weight: 400;
}

.testimonials-container p {
    font-size: 1.375rem;
    width: 70%;
    text-align: center;
}

.cards {
    display: flex;
    width: 100%;
    height: 673px;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.cards h1 {
    font-family: "Inter", sans-serif;
    width: 379.37px;
    font-weight: 600;
    font-size: 44px;
    line-height: 101.52%;
    margin: 5px;
    color: #FFFFFF;
}

.cards p {
    font-size: 15px;
    font-weight: 300;
    width: 290.21px;
    text-align: start;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    flex-direction: column;
}

.card article {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181818;
}

.card article div {
    display: flex;
    flex-direction: column;
    gap: 29px;
    padding: 23px 23px;
}

.card button {
    display: flex;
    gap: 7px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
}

.column-card {
    display: flex;
    flex-direction: column;
    width: 327.08px;
    height: 100%;
    background-color: #181818;
}

.column-card div {
    display: flex;
    padding: 17px 17px;
    flex-direction: column;
    justify-content: center;
    gap: 29px;
}

.column-card h1 {
    width: 90%;
}

.column-card p {
    width: 220.54px;
}

.column-card button {
    display: flex;
    gap: 7px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
}

.testimonials-button {
    width: 221.95px;
    height: 77.8px;
    border: solid 1.36px white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.contact {
    display: flex;
    gap: 25px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 368px;
}

.contact form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    gap: 58px;
}

